* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1c;
  color: #ffff;
  padding: 25px;
  overflow-x: hidden;
}

main {
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px;
}

input {
  /* padding: 10px; */
  width: 58vw;
  height: 49px;
  opacity: 1;
  border-width: 1px;
  color: #8e8e8e;
  border: 1px solid #ffff;
  background-color: #1a1a1c;
  padding: 0px 20px;
}

button {
  width: 246px;
  height: 49px;

  background-color: #1a1a1c;
  border: 1px solid #ffff;
  color: #ffff;
}

table {
  margin: 0px 20px;
}

tr {
  border-bottom: 1px solid white;
  padding: 5px 0px;
}
table > tr > td :last-child {
  text-align: right;
}

td {
  padding: 20px 0px;
  border: none;
  width: 240px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  /* background-color: aqua; */
  /* border: 2px solid red; */
}

#currency {
  display: flex;
  justify-content: start;
  align-items: center;
}

img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
}
